@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  p,
  input,
  li,
  .text_link,
  h5 {
    font-family: Times, "Times New Roman", Georgia, serif;
  }

  h1,
  h2,
  h3,
  h4,
  button,
  a,
  label {
    font-family: "arial black", Impact, sans-serif;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    
  }
 
 
}

